<h1>Source</h1>

<%= link_to 'New Source', show_new_form_sources_path(display_type: :list), remote: true, method: :put %>
<br/><br/>

<div class="sources">
  <% @sources.each do |source| %>
    <%= concept("source/source_cell/list", source, current_user: current_user).call(:show) %>
  <% end %>
</div>


