<div class="article_title"><%= title %></div>
<div class="article_meta">
  <!--%= time_ago_in_words created_at %--> ago<br>
  Source: <!--%= link_to @article.source.name, @article.source.link %-->
</div>
