<div class="content">

  <%#= concept("sentence/sentence_admin_menu_cell", @form.model, current_user: current_user) %>

  <h2>Edit Word</h2>
  <%= render partial: 'sentence_form', locals: { form: @form } %>
</div>