<div id="tokenizer">

  <%= render partial: 'tokenized' %>

  <hr/>

  <%= render partial: 'next_token' %>
  <br/>
  <%= link_to 'Tokenize Article', tokenize_article_path(@sentence.article) %> |
  <%= link_to 'Delete Tokens', untokenize_sentence_path(@sentence) %>

</div>