<div class="content">

  <h2>Edit Article</h2>


  <% if @form.errors.count > 0 %>
    <h3>Problem:</h3>
    <ul>
      <%= @form.errors.each do |k, v| %>
        <li class='error'>
          <%= k %>
          <%= v %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>