<% content_for :title do %>
  <div class="title">Articles</div>
<% end %>

<% content_for :admin_menu do %>
  <%= concept("article/article_admin_menu_cell", nil, current_user: current_user) %>
<% end %>

<div id='article-list'>
  <%= concept("article/article_cell/preview_article_cell", collection: @articles, current_user: current_user ) %>
</div>