<%= concept("article/article_admin_menu_cell", nil, current_user: current_user) %>
<h1>Articles</h1>

<div class='results'>
  <%= concept("article/article_cell/article_preview_cell", collection: @articles, current_user: current_user ) %>
</div>