<% content_for :meta do %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Right Skyscraper -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-5667774105481877"
       data-ad-slot="6792082149"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>

<h1>Articles</h1>

<% if current_user and current_user.admin? %>
  <%= link_to 'New Article', show_new_form_articles_path(display_type: :list), remote: true, method: :put %><br>
<% end %>

<%= link_to 'All', articles_path() %>
<% Category.all.collect do |category| %>
  | <%= link_to category.name, articles_path(category_id: category.id) %>
<% end %>

<br/>
<div class='articles'>
  <%= concept("article/article_cell/list", collection: @articles, current_user: current_user ) %>
</div>
