<h1>Sentences</h1>

<table>
  <tr>
    <th>Sentence</th>
    <th colspan="2"></th>
  </tr>

  <% @sentences.each do |sentence| %>
    <tr>
      <td><%= link_to sentence.value, [:admin, sentence] %></td>
      <td><%= link_to 'Edit', [:edit, :admin, sentence] %></td>
      <td></td>
      <td><%= link_to 'Destroy', admin_sentence_path(sentence),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
