
<div class="content">
  <h1><%= name %></h1>
  <%= link %><br/>
  <%= disabled %><br/>
  <%= restricted %><br/>
  <br>
</div>

<!--% content_for :meta do %-->
  <div class="content article_stats">
  <!--%= render 'article_stats' %-->
  </div>
<!--% end %-->
<!--%= link_to 'Articles', articles_path %-->
<!--%= link_to 'Edit', edit_article_path(@article) %-->
<!--%= link_to 'Tokenize', article_manage_path(@article) %-->

