<div class="content">
  <%#= concept("document/document_admin_menu_cell", @article, current_user: current_user) %>
  <%= concept("document/document_cell", @document, current_user: current_user).call(:show) %>

</div>

