.admin_sentence {
  padding-top: 10px;
  padding-bottom: 0px;
}

.admin_translations {
  background: #fcefe3;
}

.highlighted_sentence {
  border: 1px solid #333;
  background-color: #fac;
  border-radius: 10px;
  padding: 15px;
  display: block;
}

.untokenized {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  vertical-align: text-top;
}

.end_paragraph {
  height: 50px;
}
