<div id="iframewrapper" class="content lightbox">
  <!-- width="560" height="315" -->
  <iframe id="iframe" src="<%= url %>?enablejsapi=1&amp;theme=light&amp;showinfo=1" style="width: 100%;" frameborder="0" allowFullScreen="allowFullScreen" quality="high" allowScriptAccess="always"></iframe><br/>
  <em><%= title %></em>
  <br>

  <div id="iframe-controls">
    <a href="javascript:;" onClick="pauseVideo();">Pause</a> |
    <a href="javascript:;" onClick="playVideo();">Play</a>
  </div>

</div>
