<div class="iframe <%= display_type %> scalable scalable-16-9" iframe-id="<%= id %>">
  <div id="iframe-container">
    <div id="iframe-dummy"></div>
    <div id="iframe-background">

      <div id="iframe-wrapper" class="iframe-wrapper">
        <div id="ytplayer" video-id="<%= youtube_id %>" frameborder="0" allowFullScreen="allowFullScreen" quality="high" allowScriptAccess="always"></div>
      </div>
    </div>
  </div>
  <div class="info"><%= link_to title, "https://www.youtube.com/watch?v=" + youtube_id %></div>

</div>


<div id="iframe-controls">

  <a href="javascript:replaySection();">
    <img class="play-pause-button" src="/assets/replay.png" title="Replay: 'r'">
  </a>
  <a href="javascript:playPause();">
    <img class="play-pause-button" src="/assets/play_pause.png" title="Play or Pause: 's'">
  </a>
  <br>
  <a href="javascript:goToPreviousSection();">
    <img class="play-pause-button" src="/assets/prev.png" title="Previous Section: 'd'">
  </a>
  <a href="javascript:goToNextSection();">
    <img class="play-pause-button" src="/assets/next.png" title="Next Section: 'f' ">
  </a>
  <br>

  <a href="javascript:toggleFloatingIframe();">Toggle Float</a>
</div>