<div id="iframe-container">
  <div id="iframe-dummy"></div>
  <div id="iframe-background">

    <div id="iframe-wrapper">
      <div id="ytplayer" class="iframe-full-size" video-id="<%= youtube_id %>" frameborder="0" allowFullScreen="allowFullScreen" quality="high" allowScriptAccess="always"></div>
    </div>
    <div class="info"><%= link_to title, "https://www.youtube.com/watch?v=" + youtube_id %></div>
  </div>
</div>


<div id="iframe-controls">
  <a href="javascript:;" onClick="pauseVideo();">Pause</a> |
  <a href="javascript:;" onClick="playVideo();">Play</a><br/>
  <a href="javascript:;" onClick="toggleFloatingIframe();">Toggle Float</a>
</div>