<div class="content">
  <h1><%= title %></h1>
  <%= description %><br/>
  <%= url %><br/>
  <iframe src="<%= url %>" width="560" height="315" frameborder="0" allowFullScreen="allowFullScreen" quality="high" allowScriptAccess="always"></iframe><br/>
  <br>
</div>
