<%# content_for :admin_menu do %>
  <%#= concept("tags/tags_admin_menu_cell", @tag, current_user: current_user) %>
<%# end %>

<h1>Tags</h1>

<%= form_tag [:tags], method: 'get' do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<br>

<% @tags.each do |tag| %>
  <%= concept("tag/tag_cell/list", tag, current_user: current_user).call(:show) %>
<% end %>
