<%# content_for :admin_menu do %>
  <%#= concept("tags/tags_admin_menu_cell", @tag, current_user: current_user) %>
<%# end %>

<h3><%= @tag.name %></h3>
<% @tag.taggings.each do |tagging| %>
  <%= tagging.taggable.taggable_type %><br/>

  <% taggable_type = tagging.taggable.taggable_type.downcase %>
  <%= concept("#{taggable_type}/#{taggable_type}_cell", taggable: tagging.taggable) %>

<% end %>