
<% status = (current_user.word_statuses.has_key?(word.id) ? current_user.word_statuses[word.id].status : 'unknown') %>
<% status = 'known' if word.category == 'punctuation' %>
<% show_pinyin = ['unknown'].include? status %>
<% show_mark_unknown = ['known'].include? status %>
<% show_mark_known = ['unknown'].include? status %>



<div class='related_word_wrapper'>
  <div class="related_word_left">
    <%= render partial: word %>
  </div>

  <div class="related_word_center">
    <% word.definitions.each do |definition| %>
      • <%= definition.value %><br/>
    <% end %>
  </div>

  <div class="related_word_right">
    <%= image_tag('expand.png', class: 'expand_related_word_button') %>
  </div>



</div>


