<div class="manage-article">
  <h1><%= title %></h1>
  <%= source.name %><br>
  <% unless description.nil? %><%= description %><% end %>
  <br><br>
  <hr>
  <br>
  <div class="resources">

    <% sections.each do |section| %>
      <%#= link_to 'Manage', sentence_manage_path(sentence) %>
      <%= concept("section/section_cell/manage_section_cell", section, current_user: current_user).call(:show) %>
    <% end %>
  </div>
</div>

