<div class="content">
  <div class="sentences">
    <% sections.each do |section| %>
      <%= concept("section/section_cell", section, current_user: current_user).call(:show) %>
    <% end %>
  </div>
</div>
