
<div class="content">
  <div class="sentences">

    <% sections.each do |section| %>
      <%#= link_to 'Manage', sentence_manage_path(sentence) %>
      <%= concept("section/section_cell", section, current_user: current_user).call(:show) %>
    <% end %>
  </div>
</div>


<!--% content_for :meta do %-->
  <div class="content article_stats">
  <!--%= render 'article_stats' %-->
  </div>
<!--% end %-->
<!--%= link_to 'Articles', articles_path %-->
<!--%= link_to 'Edit', edit_article_path(@article) %-->
<!--%= link_to 'Tokenize', article_manage_path(@article) %-->
