/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}


/* Links */
a, a:hover, a:active, a:visited {
  color: rgb(22, 122, 198);
  //font-family: Roboto, arial, sans-serif;
  //font-weight: 500;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  padding: 8px 18px 10px;
  line-height: 1;
  color: #ddd;
  background: #345;
  border: 0;
  border-radius: 4px;
  margin-left: 0.75em;
}

button:hover {
  color: #fff;
  background: #123;
}

/* Forms */
form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  font:100% verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
  min-width: 500px;
  max-width: 600px;
  width: 560px;
}

form label {
  display: block;  /* block float the labels to left column, set a width */
  float: left;
  width: 100px;
  padding: 0;
  margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
  text-align: right;
}

form input, form textarea, form select {
  /* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
  width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
  margin:5px 0 0 10px; /* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

textarea { overflow: auto; }
form br {
  clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}

input.submit {
  margin-left: 110px;
}

//$black: #0076A5;
$black: #0a0a0a;

$content-margin: 10px;

.layout-wrapper {
  min-width: 800px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-column { max-width: 800px; }
.meta-column { max-width: 400px; }
.main-meta-column { max-width: 1220px; } // Including padding

.header-row, .menu-row, .title-row, .main-row, .footer-row {
  .left-column {
    flex: 1 1 auto;
    min-width: 100px;
  }

  .main-column {
    flex: 0 1 auto;
    width: 60%;
    padding: $content-margin;
  }

  .meta-column {
    flex: 0 1 auto;
    width: 40%;
    padding: $content-margin;
  }

  .main-meta-column {
    flex: 0 1 auto;
    width: 100%;
    padding: $content-margin;
  }

  .right-column {
    flex: 1 1 auto;
    min-width: 100px;
  }

  .menu-wrapper {
  }
}

// -------
// Header
// -------
.header-row {

  .user-menu {
    float: right;
  }

  a {
    color: #0076A5;
  }
  a:hover, a:active {
    //text-decoration: none;
  }
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: 100%;

  .main-column { font-size: 40px; line-height: 40px; }

}

// -------
// Navigation
// -------
.menu-row {
  display: flex;
  background-color: $black;
  flex-direction: row;
  flex: 0 0 auto;
  width: 100%;
  border-top: 1px solid #052866;
  border-bottom: 1px solid #052866;
  //font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Open Sans', sans-serif;

  .main-meta-column {

    padding: 0px;
  }


  .link {
    float: left;
    padding: 7px 20px 5px 0px;

    &.current-page {
      a {
        color: #FFFFFF;
      }

      a.admin {
        color: #acacac;
      }
    }

    a {
      color: #FFFFFF;
    }

    a.admin {
      color: #acacac;
    }
    font-size: 18px;


  }

}

// -------
// Title
// -------
.title-row {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: 100%;
  line-height: 16px;
  margin-top: 0px;

  .left-column, .right-column {
    background-color: #ffffff;
  }

  .main-meta-column {
    background-color: #ffffff;
    color: #222222;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
}

// -------
// Main
// -------
.main-row {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;

  .main-column, .meta-column {
  }

  .meta-column {

  }
}

#left-iframe-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 240px;
  z-index: 999;
  visibility: hidden;
}

#iframe-controls {
  position: absolute;
  top: 100px;
  left: 0px;
}

// -------
// Footer
// -------
.footer-row {
  display: flex;
  flex-direction: row;
  flex: 0 0 initial;
  min-height: 50px;

  color: #F0F0F0;
  background-color: #000;
}


// -------
// Misc
// -------

.article-title_conflicted-with-form {
  //font-family: Georgia, serif;
  //font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-family: "TiemposHeadline-Medium","Tiempos Headline Medium",Georgia,"Times New Roman",Times,serif;
  font-size: 46pt;
  padding-bottom: 40px;
  margin: 0 25px;
}


