$red: #C7272A;

.article.show {
    .title {
      font-family: FranklinITCProBold, HelveticaNeue, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      font-size: 40px;
      line-height: 50px;
    }

    .photo {
      width: 100%;
      img {
      width: 100%;
      height: auto;}
    }
}

.article.manage {
  .menu {
    float: right;
  }
}

.article.list {
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
  min-height: 120px;

  .title {
    font-size: 14pt;
  }

  .thumbnail {
    float: left;
    height: 120px;
    width: 213px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    img {
      max-height: 100%;
      max-width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .category {
    padding-top: 20px;
    font-size: 12px;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    a {
      color: $red;
    }
    a:hover { text-decoration: none; }

  }
  .title {
    padding-top: 10px;
    font-family: jubilat, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    a {
      color: #000;
    }
    a:hover { text-decoration: none; }
  }

  .description {
    padding-top: 5px;
    color: #666;
    font-size: 18px;
    font-family: medium-content-serif-font, Georgia, Cambria, 'Times New Roman', Times, serif;
  }

  &.unpublished {
    background-color: #fef0f0;
  }

  .admin-menu { float: right; }

}

.article {

  .source {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .tags {
    margin-top: 10px;
    margin-bottom: 10px;
    .tag {
      font-family: 'Open Sans', sans-serif;
      display: inline;
      font-size: 16px;
    }
  }

  .description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .translation-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sections {

  }
}

#iframe-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

#iframe-dummy {
    margin-top: 56.25%; /* 16:9 aspect ratio */
}

#iframe-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}

#iframe-wrapper {
  height: 100%;
  width: 100%;
}

.iframe-full-size {
  width: 100%;
  height: 100%;
}

.iframe-float-right {
  position: fixed;
  top: 0;
  right: 0;
  //width: 480px;
  //height: 270px;
  z-index: 999;
}
