.photo.list {
  img {
    float: left;
    margin-right: 10px;
    height: 113px;
  }
  min-height: 113px;
  margin-top: 20px;
}

.photo.manage {
  overflow:auto;
}

.photo.inline {
  .description {
    color: #777;
  }
  .credit {
    color: #777;
  }
}

.section-float-right {
  .photo {
    margin: 0 0 10px 10px;
    padding: 20px;
    border: 1px solid #aaa;
    background-color: #fafaff;
  }
}