.section.inline {

  .play-button {
    display: inline-block;
    font-size: 24px;
    a {
      text-decoration: none;
      display: none;
    }
  }
  &.active-section {

    .play-button {
      a {
       color: red;
     }
    }
    //border-left: 10px solid yellow;
  }
}

.section.manage {
  .header {
    border: 1px solid #aaa;
    background-color: #ddd;
    padding: 10px;
  }
  .menu {
    float: right;
  }

  .section_resource {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
  }
}

.section.inline {
  .section-title {
    font-weight: bold;
    font-size: 20px;
  }
}

.end-paragraph:after {
  content: "";
  display: block;
  height: 30px;
  margin-bottom: 30px;
  //border-bottom: 40px solid #fcfcfc;
  //content: "\00a0";
  //border-bottom: 5px solid black;
}

// .end-paragraph {
//   display: inline-block;
//   margin-bottom: 20px;
// }

.add_section {
  border-top: 2px solid #000;
  margin-top: 10px;
  padding-top: 10px;
}

.section-block {
  display: block;
}

.section-inline {
  display: inline;
}

.section-float-left {
  float: left;
}

.section-float-right {
  float: right;
  max-width: 50%;
  img {
    width: 100%;
  }
}