.sentence {
  padding-top: 10px;
  padding-bottom: 0px;
  display: inline;
}


.highlighted_sentence {
  border: 1px solid #333;
  background-color: #fac;
  border-radius: 10px;
  padding: 15px;
  display: block;
}

.untokenized {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  vertical-align: text-top;
}

.copy_text {
  display: inline;
  margin-top: 0px;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.end_paragraph {
  height: 50px;
}

.toggle_translations_button {
  width: 20px;
  height: 20px;
  opacity: 0.4;

  &:hover{
    opacity: 1;
  }
}

.toggle_translations {
  display: inline-block;
  margin-right: 10px;
  &:hover{
    .translations {
      display: block;
      max-height: 1000px;
    }
  }
}

.toggle_translations_button_wrapper {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  height: 60px;
}

.translations {
  display: none;
  background: #fcefe3;
}

.translations-header {
  font-size: 16px;
  font-weight: bold;
  font: monospace;
  color: #DC602B;
}


.close_translation_tooltip {
  margin-top: -11px;
  margin-right: -13px;
  float: right;
  width:25px;
  height:25px;
  display:block;
  text-transform:uppercase;
  text-decoration:none;
  color:#fff;
  background:#0394f9;
  font-family:"Tahoma", Helvetica, sans-serif;
  text-align:center;
  font-size:20px;
  line-height:1.2em;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  box-shadow:0px 0px 2px 0px #666;
  -moz-box-shadow:0px 0px 2px 0px #666;
  -webkit-box-shadow:0px 0px 2px 0px #666;
  text-indent:1px;
  cursor:pointer;
}