.sentence {
  padding-top: 10px;
  padding-bottom: 0px;
  display: inline;
}


.highlighted_sentence {
  border: 1px solid #333;
  background-color: #fac;
  border-radius: 10px;
  padding: 15px;
  display: block;
}

.untokenized {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  vertical-align: text-top;
}

.copy_text {
  display: inline;
  margin-top: 0px;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.end_paragraph {
  height: 50px;
}

.toggle_translations_button {
  display: inline;
  margin-top: 14px;
  margin-left: 0px;
  padding-left: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.4;

  &:hover{
    opacity: 1;
  }
}

.toggle_translations {
  display: inline;
  margin-right: 10px;
  &:hover{
    .translations_wrapper {
      display: block;
      max-height: 1000px;
    }
  }
}


.translations_wrapper {
  display: none;
  max-height: 0;
}

.translations {
  font-weight: bold;
  margin: 10px 0 0 0;
  padding: 10px;
  background: #fcefe3;
  border: 1px solid #DC602B;
  border-radius: 3px;
}

.translations-header {
  font-size: 16px;
  font-weight: bold;
  font: monospace;
  color: #DC602B;
}
