// Place all the styles related to the tokens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.token {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;


  .top { line-height: 40px; }

  .known .top { font-size: 24px; }
  .known .bottom { font-size: 20px; color: #aaa;  }

  .unknown .top { font-size: 18px; }
  .unknown .bottom { font-size: 20px; color: #666;  }

  .learning .top { font-size: 24px;  }
  .learning .bottom { font-size: 20px;  color: #666; }

  //.known .top.learnable { color: #000; }
  .known .bottom.learnable { display: none; }
  //.unknown .top.learnable { color: #aaa; }
  .unknown .bottom.learnable { display: block; }
  .learning .bottom.learnable { display: block; }


  .known .mark_word_known { display: none; }
  .known .mark_word_unknown { display: block; }

  .unknown .mark_word_known { display: block; }
  .unknown .mark_word_unknown { display: none; }

  .learning .mark_word_known { display: none; }
  .learning .mark_word_unknown { display: block; }

  .tooltip {
    display: none;
    padding: 5px 5px 5px 5px;
  }

  .tooltip .top { font-size: 30px; text-align: center; margin-bottom: 5px; }
  .tooltip .bottom { font-size: 20px; text-align: center; margin-bottom: 5px; }

  .tooltip .stats {
  }

  .tooltip .definitions {
  }

  .section_label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
  }


  .qtip-bootstrap {
    background-color: #dcdcdc;
  }
}