// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.translations-header {
  font-size: 16px;
  font-weight: bold;
  font: monospace;
  color: #DC602B;
}


.translations {
  .translation {
    //padding-top: 10px;
    //padding-bottom: 10px;
    .translation-attribution {
      float: right;
    }
  }

  .translation:not(:last-child) {
    overflow:auto;
    border-bottom: 1px solid #533;
    margin-bottom: 10px;
  }

  .translation:last-child {
    margin-bottom: 0px;
  }

}