// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.translations-header {
  font-size: 16px;
  font-weight: bold;
  font: monospace;
  color: #DC602B;
}


.translations {

  .title {
    font-weight: bold;
    font-size: 12px;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .translation {
    font-size: 12pt;
    padding: 10px;
    //padding-top: 10px;
    //padding-bottom: 10px;
    .translation-attribution {
      width: 100%;
      text-align: right;
    }
  }

  .translation:not(:last-child) {
    //overflow:auto;
    border-bottom: 1px solid #aaa;
    //margin-bottom: 10px;
  }

  .translation:last-child {
    //margin-bottom: 0px;
  }

}