// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.translation.show {
  background-color: #caa;
  border: 1px solid #533;
  border-radius: 5px;
  margin: 15px 5px;
  padding: 10px;
  overflow:auto;
  .votes {
    float: right;
  }
}

.translation.tokenize {
  border: 1px solid #533;
  background-color: #ddd;
  border-radius: 2px;
  margin: 10px 5px;
  padding: 5px;
}