

$red: #C7272A;
$blue: #052866;
$black: #000000;

.word_wrapper {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  height: 60px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif, 宋体, SimSun, 华文细黑, STXihei, sans-serif;

  &.word { cursor: pointer; }

  &.punctuation { margin-right: 0px; }
  .top { color: $red; line-height: 30px;  }
  .top .punctuation { letter-spacing: 0px; padding-right: 0px; margin-right: 0px; }
  &.known .top { font-size: 24px; }
  .bottom { font-size: 24px; color: $black;  }

  &.unknown .top { font-size: 22px; }

  &.learning .top { font-size: 26px; font-weight: bold; }

  .bottom {  line-height: 30px; }
  &.known .bottom.learnable { display: none; }
  //.unknown .top.learnable { color: #aaa; }
  &.unknown .bottom.learnable { display: block; }
  &.learning .bottom.learnable { display: block; font-size: 18px; color: #FFFFFF; }


  &.known .mark_word_known { display: none; }
  &.known .mark_word_unknown { display: block; }

  &.unknown .mark_word_known { display: block; }
  &.unknown .mark_word_unknown { display: none; }

  &.learning .mark_word_known { display: none; }
  &.learning .mark_word_unknown { display: block; }

  .section_label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
  }
}


.close_button {
  margin-top: -11px;
  margin-right: -13px;
  float: right;
  width:25px;
  height:25px;
  display:block;
  text-transform:uppercase;
  text-decoration:none;
  color:#fff;
  background:#0394f9;
  font-family:"Tahoma", Helvetica, sans-serif;
  text-align:center;
  font-size:20px;
  line-height:1.2em;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  box-shadow:0px 0px 2px 0px #666;
  -moz-box-shadow:0px 0px 2px 0px #666;
  -webkit-box-shadow:0px 0px 2px 0px #666;
  text-indent:1px;
  cursor:pointer;
}

.tooltip {
  display: none;
  .top {
    font-size: 40px; text-align: center; line-height: 45px;
    a { text-decoration: none; color: $red; }
    a:hover { border-bottom: 2px solid $red;  }
  }
  .bottom { font-size: 30px; text-align: center; line-height: 40px; color: #000; }
}


.word_title_wrapper {
  text-align: center;
  float: left;
  margin: 0 25px;
}
.word_title {
  color: $blue;
  font-family: Arial, Helvetica, tahoma, verdana, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
  font-size: 46pt;
}

.word_title_traditional {
  font-family: Arial, Helvetica, tahoma, verdana, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
  font-size: 30pt;
  padding-bottom: 40px;
  color: #444444;
}

.word_title_pinyin {
  font-family: "TiemposHeadline-Medium","Tiempos Headline Medium",Georgia,"Times New Roman",Times,serif;
  line-height: 60px;
  font-size: 36pt;
  margin-top: 30px;
  color: $blue;
}



.word_definition {
  font-size: 16pt;
  margin-bottom: 5px;
}


.related_word_wrapper {
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  height: 60px;

  &.word { cursor: pointer; }

  &.punctuation { margin-right: 0px; }
  .top { color: $red; }
  .top .punctuation { letter-spacing: 0px; padding-right: 0px; margin-right: 0px; }
  &.known .top { font-size: 26px; }
  .bottom { font-size: 26px; color: #666;  }

  &.unknown .top { font-size: 22px; }

  &.learning .top { font-size: 26px; border-bottom: 1px solid $red; }

  //.known .top.learnable { color: #000; }
  &.known .bottom.learnable { display: none; }
  //.unknown .top.learnable { color: #aaa; }
  &.unknown .bottom.learnable { display: block; }
  &.learning .bottom.learnable { display: block; font-size: 18px; color: #FFFFFF; }


  &.known .mark_word_known { display: none; }
  &.known .mark_word_unknown { display: block; }

  &.unknown .mark_word_known { display: block; }
  &.unknown .mark_word_unknown { display: none; }

  &.learning .mark_word_known { display: none; }
  &.learning .mark_word_unknown { display: block; }

  .section_label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
  }
}

.related_word {
  float: left;
}

.related_word_definitions {
  border: 1px solid #000;
}