<h1>Iframes</h1>

<%= link_to 'New Image', show_new_form_images_path(display_type: :list), remote: true, method: :put %>

<div class="images">
  <% @images.each do |image| %>
    <%= concept("image/image_cell/list", image, current_user: current_user).call(:show) %>
  <% end %>
</div>



