<div class="content">
  <%= concept("iframe/iframe_admin_menu_cell", @iframe, current_user: current_user) %>
  <%= concept("iframe/iframe_cell", @iframe, current_user: current_user).call(:show) %>

</div>

